.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  width: 100%;
  max-width: 905px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
